@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

h1{
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-size: 300%;
    font-style: normal;
    color:white;
}

p{
    font-size:200%;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.looks{
    font-weight: 350;
}

.list{
    font-size:20px;
    font-weight: 350;
}

.right-side{
    float: right;
}

.block{
    display: block;
}

.inline{
    display:inline;
}

body{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:50px;
}

button:not(.clear){
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:5px
}

button:hover :not(.clear) {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

hr{
    margin:none;
    border: 1px solid black;
}

input{
    font-size: 200%;
}

input[type="radio"]{
    width:25px;
    height:25px;
}

.clear{
    background:none;
    border:none;
    box-shadow: none;
    color:gray;
    margin:5px;
    align-items: center;
    justify-content: center;
}