<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Adding</title>
</head>
<body>
    <form method="post">
        <span>
            Worth: <span id="worth-num" name="worth-num">1</span>pt
            <input type="radio" value="1" name="worth" id="worth" class="worth" checked>
            <input type="radio" value="2" name="worth" id="worth" class="worth">
            <input type="radio" value="3" name="worth" id="worth" class="worth">
            <input type="radio" value="4" name="worth" id="worth" class="worth">
            <input type="radio" value="5" name="worth" id="worth" class="worth">
        </span>
        <input type="text" name="name" id="name" class="block">
        <button class="add">add</button>
    </form>
    {{ error }}

    <script src="/static/add.js"></script>
</body>
</html>